html, body {
	margin: 0;
}

.navigation {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #00b7f5;
}

.navigation--highlight {
	background: #00b7f5;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.flex-grid a {
  padding: 20px 100px;
  font-size: 27px;
}